@font-face {
    font-family: "Hello-Christmas-trial";
    src: url("Assets/Fonts/Hello-Christmas-trial.woff") format("woff"),
    url("Assets/Fonts/Hello-Christmas-trial.woff2") format("woff2");
}

* {
    box-sizing: border-box;
}   

html {
    min-height: 100vh;
    cursor: url('Assets/Cursors/santa.cur'), auto;
}

body {
    margin: 0;
    background: radial-gradient(#de0707, #620808);
    font-family: "Hello-Christmas-trial";
    color: #FFBB89;
}

.santa {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.santa img {
    height: 200px;
    width: 200px;
}

.num-font {
    font-family: 'Mountains of Christmas';
}

.page-title {
    text-align: center;
    font-size: 8em;
    margin-top: 20px;
    margin-bottom: 0px;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
  }

.game-info {
    font-size: 4em;
}

.game-container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    margin: 35px;
    justify-content: center;
    perspective: 500px;
}

.card {
    position: relative;
    height: 175px;
    width: 125px;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
}

.card.visible .card-back{
    transform: rotateY(-180deg);
}

.card.visible .card-front{
    transform: rotateY(0);
}

.card.matched .card-front .card-value {
    animation: dance 1s linear infinite 500ms;
}

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    text-align: center;
}

.overlay-text-small {
    font-size: .3em;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        font-size: 10em;
        background-color: rgba(0, 0, 0, 0.8);
    }
}

@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
}

.card-back {
    background-color:  #faf3f2;
    border-color: #faf3f2;
}

.card-front {
    background-color: #ffe6e6;
    border-color: #ffe6e6;
    transform: rotateY(180deg);
}

.card-value {
    height: 85px;
    width: 85px;
    transition: transform 100ms ease-in-out;
    transform: scale(0.9);
}

.card-front:hover .card-value {
    transform: scale(1);
}

.wreath {
    height: 100px;
    width: 100px;
    transform: scale(0.9);
    transition: transform 100ms ease-in-out;
}

.card-back:hover .wreath, .card-back:hover .bell {
    transform: translateY(0);
}

@media (max-width: 1000px) {
    .page-title {
        font-size: 6rem;
    }
    .card {
        width: 100px;
    }
    .santa img {
        height: 50px;
        width: 50px;
    }
    .overlay-text {
        font-size: 100px !important;
    }   
    .game-container {
        grid-template-columns: repeat(3, auto);
    }
    .game-info-container {
        flex-direction: column;
        align-items: center;
    }
}